[submodule "frontend"]
	path = frontend
	url = https://github.com/LouvAndTech/My-Portfolio-front.git

[submodule "backend"]
    path = backend
    url = https://github.com/LouvAndTech/My-Portfolio-back.git